In [1]:
import numpy as np
import xarray as xr
import pandas as pd

In [2]:
import sys
sys.path.append('./../Scripts')
import inv_flux as invf

In [46]:
import importlib as ilib
ilib.reload(invf)

# Trial of functions

In [47]:
Rayner = './../raw_data/fco2_Rayner-C13-2018_June2018-ext3_1992-2012_monthlymean_XYT.nc'
df = invf.TheDataFrame(data=Rayner)

In [48]:
type(df)

inv_flux.TheDataFrame

In [49]:
df.variables

AttributeError: 'TheDataFrame' object has no attribute 'variables'

In [50]:
s=df.spatial_integration()

In [51]:
s

<xarray.Dataset>
Dimensions:         (time: 252)
Coordinates:
  * time            (time) object 1992-01-16 00:00:00 ... 2012-12-16 00:00:00
Data variables:
    Earth_Land      (time) object -0.2064 -0.3233 -0.4555 ... 0.02093 -0.01092
    South_Land      (time) object 0.00262 0.01488 -0.005087 ... 0.0481 0.004143
    Tropical_Land   (time) object -0.1846 -0.1388 -0.1045 ... 0.1637 0.09664
    North_Land      (time) object -0.02442 -0.1993 -0.3459 ... -0.1909 -0.1117
    Earth_Ocean     (time) object 0.09155 0.01149 0.005619 ... 0.1239 0.07068
    South_Ocean     (time) object 0.08013 0.0373 0.08644 ... 0.05885 0.07064
    Tropical_Ocean  (time) object -0.01266 -0.03395 ... 0.04484 -0.003618
    North_Ocean     (time) object 0.02408 0.008147 -0.01712 ... 0.0202 0.003659

In [14]:
df.data.sum()

<xarray.Dataset>
Dimensions:           ()
Data variables:
    Terrestrial_flux  float32 -64391412.0
    ocean             float32 11391212.0

In [15]:
y=df.year_integration()
y

,Year,earth_land_total,south_land_total,trop_land_total,north_land_total,earth_ocean_total,south_ocean_total,trop_ocean_total,north_ocean_total
0,1992,-2.44695,0.224023,-0.81209,-1.85888,-0.252198,0.51051,-0.483421,-0.279286
1,1993,-3.34941,-0.368533,-0.369603,-2.61127,1.24133,1.07817,-0.0101273,0.173287
2,1994,-0.734497,0.292096,0.573278,-1.59987,0.112975,0.57777,-0.471583,0.00678795
3,1995,-0.811956,-0.244602,1.26042,-1.82777,0.225526,0.797611,-0.461935,-0.11015
4,1996,-2.30852,-0.238651,-0.371002,-1.69887,0.396192,0.74824,-0.334994,-0.017055
5,1997,-0.534001,0.393517,1.15454,-2.08206,-0.466631,0.221819,-0.617863,-0.0705875
6,1998,1.01841,0.683573,2.2621,-1.92727,-0.426082,0.18317,-0.629241,0.0199884
7,1999,-2.13609,0.0547002,0.197585,-2.38837,0.143578,0.500371,-0.428802,0.0720088
8,2000,-2.13503,-0.394168,0.295049,-2.03592,0.298124,0.549731,-0.291496,0.0398891
9,2001,-2.04285,-0.201406,0.290846,-2.13229,0.201494,0.691956,-0.46857,-0.0218921
10,2002,-0.415532,0.0792672,1.06597,-1.56077,0.0892122,0.768321,-0.471581,-0.207527
11,2003,-1.01934,-0.0331783,0.328092,-1.31425,-0.0198941,0.580932,-0.343404,-0.257422
12,2004,-2.48687,-0.0484896,0.0272704,-2.46565,0.189821,0.762688,-0.322493,-0.250374
13,2005,-0.965314,0.0869331,1.36334,-2.41559,-0.119464,0.462407,-0.426171,-0.1557
14,2006,-2.95286,-0.314295,-0.38331,-2.25526,-0.304833,0.583911,-0.614549,-0.274196
15,2007,-1.8193,-0.0369875,1.23391,-3.01622,-0.273511,0.546213,-0.441155,-0.378569
16,2008,-3.523,-0.154689,-0.337786,-3.03052,0.0924152,0.607006,-0.401914,-0.112676
17,2009,-3.00637,-0.284022,0.609948,-3.3323,-0.396403,0.388138,-0.550843,-0.233699
18,2010,-2.5141,-0.0526179,0.238653,-2.70013,0.0325817,0.409943,-0.362167,-0.015194
19,2011,-4.19234,-0.723568,-0.548307,-2.92046,0.179385,0.621704,-0.330879,-0.11144
20,2012,-2.76836,-0.119956,0.630373,-3.27878,-0.119651,0.339171,-0.356249,-0.102574

In [16]:
t=df.decade_integration()
t.shape

(3, 9)

In [17]:
p=df.whole_time_integration()
p

,earth_land_total,south_land_total,trop_land_total,north_land_total,earth_ocean_total,south_ocean_total,trop_ocean_total,north_ocean_total
0,-41.1443,-1.40105,8.70928,-48.4525,0.823964,11.9298,-8.81944,-2.28638

In [18]:
invf.scalar_earth_area(9,10,100,110)

121945878340.89328

# Pickle data

In [19]:
import pickle

In [20]:
y

,Year,earth_land_total,south_land_total,trop_land_total,north_land_total,earth_ocean_total,south_ocean_total,trop_ocean_total,north_ocean_total
0,1992,-2.44695,0.224023,-0.81209,-1.85888,-0.252198,0.51051,-0.483421,-0.279286
1,1993,-3.34941,-0.368533,-0.369603,-2.61127,1.24133,1.07817,-0.0101273,0.173287
2,1994,-0.734497,0.292096,0.573278,-1.59987,0.112975,0.57777,-0.471583,0.00678795
3,1995,-0.811956,-0.244602,1.26042,-1.82777,0.225526,0.797611,-0.461935,-0.11015
4,1996,-2.30852,-0.238651,-0.371002,-1.69887,0.396192,0.74824,-0.334994,-0.017055
5,1997,-0.534001,0.393517,1.15454,-2.08206,-0.466631,0.221819,-0.617863,-0.0705875
6,1998,1.01841,0.683573,2.2621,-1.92727,-0.426082,0.18317,-0.629241,0.0199884
7,1999,-2.13609,0.0547002,0.197585,-2.38837,0.143578,0.500371,-0.428802,0.0720088
8,2000,-2.13503,-0.394168,0.295049,-2.03592,0.298124,0.549731,-0.291496,0.0398891
9,2001,-2.04285,-0.201406,0.290846,-2.13229,0.201494,0.691956,-0.46857,-0.0218921
10,2002,-0.415532,0.0792672,1.06597,-1.56077,0.0892122,0.768321,-0.471581,-0.207527
11,2003,-1.01934,-0.0331783,0.328092,-1.31425,-0.0198941,0.580932,-0.343404,-0.257422
12,2004,-2.48687,-0.0484896,0.0272704,-2.46565,0.189821,0.762688,-0.322493,-0.250374
13,2005,-0.965314,0.0869331,1.36334,-2.41559,-0.119464,0.462407,-0.426171,-0.1557
14,2006,-2.95286,-0.314295,-0.38331,-2.25526,-0.304833,0.583911,-0.614549,-0.274196
15,2007,-1.8193,-0.0369875,1.23391,-3.01622,-0.273511,0.546213,-0.441155,-0.378569
16,2008,-3.523,-0.154689,-0.337786,-3.03052,0.0924152,0.607006,-0.401914,-0.112676
17,2009,-3.00637,-0.284022,0.609948,-3.3323,-0.396403,0.388138,-0.550843,-0.233699
18,2010,-2.5141,-0.0526179,0.238653,-2.70013,0.0325817,0.409943,-0.362167,-0.015194
19,2011,-4.19234,-0.723568,-0.548307,-2.92046,0.179385,0.621704,-0.330879,-0.11144
20,2012,-2.76836,-0.119956,0.630373,-3.27878,-0.119651,0.339171,-0.356249,-0.102574

In [21]:
pickle.dump(y, open("output.csv", "w"))

TypeError: write() argument must be str, not bytes

# Return DataArray in Spatial

In [22]:
s

,time,earth_land_total,south_land_total,trop_land_total,north_land_total,earth_ocean_total,south_ocean_total,trop_ocean_total,north_ocean_total
0,1992-01-16 00:00:00,-0.206387,0.00262046,-0.184588,-0.0244196,0.0915499,0.0801271,-0.0126573,0.02408
1,1992-02-16 00:00:00,-0.32326,0.0148799,-0.138804,-0.199336,0.0114948,0.0372992,-0.0339515,0.00814714
2,1992-03-16 00:00:00,-0.455497,-0.005087,-0.104469,-0.345941,0.00561883,0.0864351,-0.0636996,-0.0171167
3,1992-04-16 00:00:00,-0.00856157,0.0402408,0.0306667,-0.0794691,0.044103,0.0723724,-0.0453629,0.0170934
4,1992-05-16 00:00:00,0.179045,0.0245111,0.15515,-0.000615481,0.0225338,0.0744753,-0.0109653,-0.0409763
5,1992-06-16 00:00:00,-0.225475,-0.025228,-0.0700347,-0.130212,-0.111758,-0.00992819,-0.0666191,-0.0352107
6,1992-07-16 00:00:00,-0.697192,0.0797032,-0.311337,-0.465558,-0.0910569,-0.0238922,-0.0394592,-0.0277055
7,1992-08-16 00:00:00,-0.42653,0.0988206,-0.249377,-0.275973,-0.19569,-0.0554427,-0.0739632,-0.0662838
8,1992-09-16 00:00:00,-0.215082,0.0945276,0.0111171,-0.320727,-0.065589,0.0154006,-0.0699569,-0.0110327
9,1992-10-16 00:00:00,0.0799265,0.0145738,0.0478405,0.0175122,-0.0284315,0.0588602,-0.0310148,-0.0562769
10,1992-11-16 00:00:00,-0.134311,-0.0222661,0.0246136,-0.136658,0.0128298,0.0733936,-0.0235378,-0.037026
11,1992-12-16 00:00:00,-0.0136242,-0.0932734,-0.0228668,0.102516,0.0521976,0.101409,-0.0122332,-0.0369783
12,1993-01-16 00:00:00,-0.37808,-0.119897,-0.185014,-0.073168,0.0787977,0.0946867,-0.00895878,-0.00693022
13,1993-02-16 00:00:00,-0.687215,-0.0889693,-0.289886,-0.30836,0.118595,0.120804,-0.0111872,0.00897774
14,1993-03-16 00:00:00,-0.519829,-0.0718373,-0.184854,-0.263138,0.142899,0.151801,-0.0153689,0.00646611
15,1993-04-16 00:00:00,-0.110971,-0.0357111,0.0456692,-0.120929,0.163098,0.137605,-0.00329306,0.0287862
16,1993-05-16 00:00:00,-0.0698105,-0.0464459,0.142739,-0.166104,0.0639184,0.0667092,0.0048135,-0.00760428
17,1993-06-16 00:00:00,-0.100624,-0.0241187,0.0328057,-0.109311,0.0128929,0.0321241,-0.0196505,0.000419284
18,1993-07-16 00:00:00,-0.798099,-0.0206584,-0.265095,-0.512346,0.0720162,0.0584039,0.0113437,0.00226864
19,1993-08-16 00:00:00,-0.680141,-0.0421329,-0.351189,-0.28682,0.00013153,0.0650174,-0.0373266,-0.0275593
20,1993-09-16 00:00:00,-0.360473,-0.0255331,0.0574886,-0.392429,0.0940131,0.0903824,-0.0268394,0.0304701
21,1993-10-16 00:00:00,0.219149,0.0287138,0.376165,-0.18573,0.140707,0.109491,0.0265383,0.00467782
22,1993-11-16 00:00:00,0.310343,0.0541245,0.277224,-0.021006,0.164699,0.0830068,0.023439,0.0582536
23,1993-12-16 00:00:00,-0.17366,0.0239322,-0.025657,-0.171935,0.18956,0.0681368,0.0463628,0.0750609
24,1994-01-16 00:00:00,-0.13923,0.034963,-0.15545,-0.0187428,0.109624,0.0164851,0.0248434,0.0682958
25,1994-02-16 00:00:00,-0.493226,-0.0039859,-0.188223,-0.301017,0.103784,0.0617012,0.00605126,0.036032
26,1994-03-16 00:00:00,-0.381341,-0.0582309,-0.118551,-0.204559,0.0727428,0.091394,-0.0354107,0.0167595
27,1994-04-16 00:00:00,-0.112202,-0.0180413,0.0563547,-0.150516,-0.0248484,0.0523186,-0.086504,0.00933702
28,1994-05-16 00:00:00,0.0856474,-0.000900623,0.174335,-0.087787,-0.0439557,0.0172113,-0.0607414,-0.000425583
29,1994-06-16 00:00:00,0.08532,0.0226884,0.029604,0.0330276,-0.0903612,-0.0147676,-0.0645363,-0.0110573
...,...,...,...,...,...,...,...,...,...
222,2010-07-16 00:00:00,-0.597766,0.000742395,-0.264177,-0.334331,-0.0203294,0.032013,0.0117687,-0.0641111
223,2010-08-16 00:00:00,-0.248788,-0.0257831,-0.138978,-0.0840271,-0.0643695,0.027502,-0.0276404,-0.0642311
224,2010-09-16 00:00:00,-0.271506,-0.0147677,0.153112,-0.40985,-0.000520306,0.044302,-0.0324014,-0.0124209
225,2010-10-16 00:00:00,0.249195,0.0402631,0.483911,-0.27498,0.0521295,0.0693935,-0.00670712,-0.0105569
226,2010-11-16 00:00:00,0.209307,0.0667902,0.192616,-0.0500989,0.0872977,0.0537312,0.00458671,0.0289798
227,2010-12-16 00:00:00,-0.0744879,0.0122757,0.0501448,-0.136908,0.0801069,0.0530168,-0.00381857,0.0309087
228,2011-01-16 00:00:00,-0.6084,-0.0631248,-0.566081,0.020806,-0.00133475,0.0318348,-0.0604972,0.0273277
229,2011-02-16 00:00:00,-0.964013,-0.0967032,-0.555837,-0.311473,0.0278684,0.0729341,-0.0575215,0.0124558
230,2011-03-16 00:00:00,-0.900576,-0.125578,-0.425788,-0.349211,-0.0839884,0.0687732,-0.133345,-0.0194169
231,2011-04-16 00:00:00,-0.336717,-0.076073,-0.0120103,-0.248634,-0.0432493,0.0795824,-0.125726,0.00289445
232,2011-05-16 00:00:00,0.191016,-0.0641498,0.362083,-0.106918,0.0546266,0.0690597,0.00343334,-0.0178664
233,2011-06-16 00:00:00,-0.196784,-0.0728668,0.285048,-0.408966,-0.0523646,-0.037636,-0.00243032,-0.0122983
234,2011-07-16 00:00:00,-0.627968,-0.0820205,0.0139227,-0.559871,-0.0272055,0.00901359,0.0216078,-0.0578269
235,2011-08-16 00:00:00,-0.639937,-0.091155,-0.16809,-0.380692,-0.0353201,0.0302936,0.000257422,-0.0658711
236,2011-09-16 00:00:00,-0.368516,-0.0400832,0.00845154,-0.336884,0.0406301,0.0473392,-0.00186376,-0.00484543
237,2011-10-16 00:00:00,0.15952,-0.0215341,0.306096,-0.125042,0.0944736,0.0907321,0.00622917,-0.00248769
238,2011-11-16 00:00:00,0.158688,0.020926,0.0726264,0.0651356,0.132843,0.090435,0.0233556,0.0190524
239,2011-12-16 00:00:00,-0.0586499,-0.0112049,0.131271,-0.178716,0.0724058,0.0693422,-0.00437902,0.00744258
240,2012-01-16 00:00:00,-0.144719,-0.021134,-0.0200458,-0.103539,0.0270811,0.0224214,-0.0266898,0.0313495
241,2012-02-16 00:00:00,-0.323859,-0.00834222,0.0128635,-0.32838,0.0210161,0.0164642,-0.0221033,0.0266552
242,2012-03-16 00:00:00,-0.652257,-0.0779119,-0.105868,-0.468477,-0.0256984,0.0283243,-0.0487057,-0.005317
243,2012-04-16 00:00:00,-0.59058,-0.059414,-0.155433,-0.375733,-0.0511514,0.00892782,-0.0588599,-0.00121927
244,2012-05-16 00:00:00,-0.451972,-0.0695202,-0.0701219,-0.31233,-0.0469135,0.0106419,-0.0315186,-0.0260369
245,2012-06-16 00:00:00,-0.480618,-0.0462966,0.0275882,-0.46191,-0.0697627,0.0294915,-0.0517367,-0.0475175
246,2012-07-16 00:00:00,-0.688173,-0.00745575,-0.149957,-0.53076,-0.122008,0.0263558,-0.059585,-0.0887793
247,2012-08-16 00:00:00,-0.13791,0.014496,0.0555369,-0.207943,-0.122629,-0.00177557,-0.0661586,-0.0546948
248,2012-09-16 00:00:00,0.199283,0.048576,0.302486,-0.151778,-0.00492151,0.0165312,-0.0461386,0.0246859
249,2012-10-16 00:00:00,0.492435,0.0547988,0.472949,-0.035312,0.0807566,0.0523,0.0140202,0.0144364
250,2012-11-16 00:00:00,0.0209295,0.0481045,0.163738,-0.190913,0.123897,0.0588473,0.0448449,0.0202049
251,2012-12-16 00:00:00,-0.0109234,0.00414301,0.0966376,-0.111704,0.0706829,0.0706416,-0.00361777,0.00365911

In [23]:
da = xr.DataArray(s.iloc[:,1],
             dims=['time'],
             coords={'time': s.time}
            )
da

<xarray.DataArray 'earth_land_total' (time: 252)>
array([-0.20638702904273445, -0.32325988608758993, -0.45549730496356333, ...,
       0.4924352828989388, 0.02092952610355361, -0.01092338844752096],
      dtype=object)
Coordinates:
  * time     (time) object 1992-01-16 00:00:00 ... 2012-12-16 00:00:00

In [34]:
xr.Dataset(,
           data_vars={'South_Land': (s.iloc[:,2]),
                      'Tropical_Land': (s.iloc[:,3]),
                      'North_Land': (s.iloc[:,4])}
          )

<xarray.Dataset>
Dimensions:        (dim_0: 252)
Coordinates:
  * dim_0          (dim_0) int64 0 1 2 3 4 5 6 7 ... 245 246 247 248 249 250 251
Data variables:
    South_Land     (dim_0) object 0.00262 0.01488 -0.005087 ... 0.0481 0.004143
    Tropical_Land  (dim_0) object -0.1846 -0.1388 -0.1045 ... 0.1637 0.09664
    North_Land     (dim_0) object -0.02442 -0.1993 -0.3459 ... -0.1909 -0.1117

In [44]:
xr.Dataset({'South_Land': (('time'), s.iloc[:,2]),
            'Tropical_Land': (('time'), s.iloc[:,3]),
            'North_Land': (('time'), s.iloc[:,4])},
           coords={'time': (('time'), s['time'])}
          )

<xarray.Dataset>
Dimensions:        (time: 252)
Coordinates:
  * time           (time) object 1992-01-16 00:00:00 ... 2012-12-16 00:00:00
Data variables:
    South_Land     (time) object 0.00262 0.01488 -0.005087 ... 0.0481 0.004143
    Tropical_Land  (time) object -0.1846 -0.1388 -0.1045 ... 0.1637 0.09664
    North_Land     (time) object -0.02442 -0.1993 -0.3459 ... -0.1909 -0.1117

In [62]:
s

<xarray.Dataset>
Dimensions:         (time: 252)
Coordinates:
  * time            (time) object 1992-01-16 00:00:00 ... 2012-12-16 00:00:00
Data variables:
    Earth_Land      (time) object -0.2064 -0.3233 -0.4555 ... 0.02093 -0.01092
    South_Land      (time) object 0.00262 0.01488 -0.005087 ... 0.0481 0.004143
    Tropical_Land   (time) object -0.1846 -0.1388 -0.1045 ... 0.1637 0.09664
    North_Land      (time) object -0.02442 -0.1993 -0.3459 ... -0.1909 -0.1117
    Earth_Ocean     (time) object 0.09155 0.01149 0.005619 ... 0.1239 0.07068
    South_Ocean     (time) object 0.08013 0.0373 0.08644 ... 0.05885 0.07064
    Tropical_Ocean  (time) object -0.01266 -0.03395 ... 0.04484 -0.003618
    North_Ocean     (time) object 0.02408 0.008147 -0.01712 ... 0.0202 0.003659

In [61]:
s.resample({'time': 'Y'}).sum()

<xarray.Dataset>
Dimensions:  (time: 21)
Coordinates:
  * time     (time) object 1992-12-30 00:00:00 ... 2012-12-30 00:00:00
Data variables:
    *empty*